<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">User</ion-label>
    <ion-input [(ngModel)]="user.username" name="username"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input [(ngModel)]="user.email" name="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input
      type="password"
      [(ngModel)]="user.password1"
      name="password"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Confirm Password</ion-label>
    <ion-input
      type="password"
      [(ngModel)]="user.password2"
      name="confirmPassword"
    ></ion-input>
  </ion-item>

  <ion-button color="primary" (click)="createAccount()"
    >Create Account</ion-button
  >
</ion-content>
